<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883265381557-d5lmmp4bpqttfpttkmlu2plt56eo4g85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883265381557-d5lmmp4bpqttfpttkmlu2plt56eo4g85</string>
	<key>API_KEY</key>
	<string>AIzaSyCC87DAHRl3teeLqXn1CkswDIjin5fibXc</string>
	<key>GCM_SENDER_ID</key>
	<string>883265381557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vh.wildcardapp</string>
	<key>PROJECT_ID</key>
	<string>twishui0606</string>
	<key>STORAGE_BUCKET</key>
	<string>twishui0606.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883265381557:ios:368a632cb1c28e598d4afc</string>
</dict>
</plist>